<h1 class="headline"><%= @article.title.html_safe %></h1>

<p>
  <a href="<%= topic_show_path(@topic) %>">&larr; Back to <%= @topic.name %></a>
  &ndash;
  <a href="<%= @article.url %>" target="_blank">Original article &rarr;</a>
</p>

<div data-ajax-load="<%= related_articles_path(@article) %>"></div>