<!DOCTYPE html>
<html>
<head>
  <title>MAOW - Media Aggregation and Orientation Watchdog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>

<% if @industry %>
<div class="main-header">
  <span class="main-header__title">MAOW</span> &bull;
  <%= link_to @industry.name, industry_landing_path(@industry) %>

  <div class="main-nav">
    <% if current_user %>
      <% if current_user.is_admin %>
        <%= link_to 'Rebuild article entities', rebuild_entities_for_industry_path(@industry) %>
        <%= link_to 'Reassess entities', reassess_entities_for_industry_path(@industry) %>
        <%= link_to 'Rebuild vertices', rebuild_vertices_for_industry_path(@industry) %>
      <% end %>
      <span>&bull;</span>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <%= link_to 'Admin', '/admin' %>
    <% end %>
  </div>
</div>
<% end %>

<div class="main-content container">
<%= yield %>
</div>

</body>
</html>
